@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgb(39, 32, 49)),
    url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
    font-family: "Word Sans";
    margin: 0;
    padding: 0;
}
#menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color:  #7b58da;
    margin-left: auto;
    border-radius: 20px;
}

.container-header{
    background: rgba(0, 0, 0, 0.719);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color:#5b2bdf ;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.container-header header nav ul li a:hover{
    color: #451abb;
}

/* inicio*/

h1{
    color: #5b2bdf;
    text-align: center;
    padding: 110px 20px;
 
}
.caja{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
    height: 100vh;
    
}

.ecard{
    min-width: 300px;
    max-width: 400px;
    background: #000000a1;
    border-radius: 15px;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 20px 20px 20px;
    transition: transform 0.3s ease;
}
.ecard h2{
    color: #fcfcfc;
}
.ecard p{
    color:#ded4fc;
}


img{
    align-self: center;
    padding: 15px 15px 10px 1px;
    min-width: 80px;
    max-width: 90%;
    border-radius: 30px;

}
.links a {
    color: #7451d3;
}
footer{
    background-color: black;
    color: #fff;
    padding: 15px 0;;
    text-align: center;
    position: relative;
    width: 100%;
}
footer.redes{
    margin-bottom: 20px;
}
footer .redes a{
    color:#fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px;
    font-size: 20px;
    transition: 5s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 60px;
    background-color: #5b2bdf ;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
@media(max-width: 768px) {
    #menu-toggle{
        display: none;
    }
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        color:  #7b58da;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 300;
    }
    /*menu oculto*/
    .container-header header .nav ul{
        display: none;
        flex-direction: column;
        background-color: rgba(64, 60, 75, 0.911);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px 0;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgba(15, 5, 43, 0.911);
        z-index: 250;
    }
    /*mostrar menu al activar*/
    #menu-toggle:checked ~ .nav ul {
        display: flex;
    }
    .container-header header .nav ul li {
        margin: 5px 0;
    }
    .container-header header .nav ul li a{
        color: #fff;
        padding: 10px 15px;
        display: block;
        text-align: left;
    }

    .caja {
        height: 200vh;
    }

}